{% load i18n %}<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      fieldset {
        float: left;
        width: 33%;
      }
      .actions {
        float: left;
        clear: both;
      }
      p.row {
        margin-left: 0px;
      }
      .caption, .caption:hover {
        font-weight: bold !important;
        background: #EEE !important;
      }
      .grouper, .grouper:hover {
        background: #333 !important;
        color: #EEE !important;
      }
      .utils {

        sheight: 70px;
        text-align: left;
      }
      .utils p {
          margin: 0;
          padding: 0;
      }
      

    .nav > li > a {
        padding-bottom: 0;
      }
      .list{
        font-size: 20px;
      }
    </style>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block head_extra %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">django-model-report</a>

        </div>
      </div>
    </div>

    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sistema de Reportes</a>
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->

<div class="container">
    {% block container %}
    <div class="row">

        <!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">                          
              <li class="nav-header">{% trans "Report list" %}</li>
              {% block sidebar %}
              {% endblock %}
            </ul>
          </div>
        </div> -->
        <div class="col-xs-9" style="width: 100%;">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    {% endblock %}
</div>
</body>
</html>
