{% load i18n %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Report - {{ report.get_title }}</title>
        <style type="text/css">
            @page {
                size: {{ pagesize|default:'legal landscape' }};
                margin: 1.5cm 1cm;
                @frame header {
                    -pdf-frame-content: headerContent;
                    top: 1cm;
                    margin-left: 1cm;
                    margin-right: 1cm;
                    height: 0.5cm;
                }
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0.5cm;
                    margin-left: 1cm;
                    margin-right: 1cm;
                    height: 0.5cm;
                }
            }
            table.object_list_data th {
                background-color: black;
                color: white;
                font-weight: bold;
                padding: 3px;
                font-size: 12px;
                line-height: 12px;
            }
            table.object_list_data td {
                border: 1px solid black;
                padding: 2px;
                font-size: 10px;
            }
            table.object_list_data .grouper {
                background-color:#333;
                color: #FFF;
                padding: 3px;
                font-size: 12px;
                line-height: 12px;
            }
            table.object_list_data tr.caption {
                background-color: #477596;
                color: white;
                font-weight: bold;
            }
            table.object_list_data tr.total {
                font-weight: bold;
            }
            #report_info {
                border: 1px solid #BF212E;
                background-color: #E7E8EA;
            }
            #report_info td {
                padding: 2px;
                font-size: 15px;
                line-height: 15px;
                text-align: center;
                color: #4D4D4D;
                vertical-align: center;
            }
            #report_info td.title {
                font-weight: bold;
            }
            .tableReport {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}.tableReport table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.tableReport tr:last-child td:last-child {
    border-bottom-right-radius:5px;
}

.tableReport table tr:first-child td:first-child {
    border-top-left-radius:5px;
}

.tableReport table tr:first-child td:last-child {
    border-top-right-radius:5px;
}.tableReport tr:last-child td:first-child{
    border-bottom-left-radius:5px;
}.tableReport tr:hover td{
    
}
.tableReport tr:nth-child(odd){ background-color:#fccda1; }
.tableReport tr:nth-child(even)    { background-color:#ffffff; }.tableReport td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:5px;
    font-size:15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    color:#000000;
}.tableReport tr:last-child td{
    border-width:0px 1px 0px 0px;
}.tableReport tr td:last-child{
    border-width:0px 0px 1px 0px;
}.tableReport tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.tableReport tr th{
    background-color:#ff7f00;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    color:#ffffff;
}
.tableReport tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
        </style>
    </head>
    <body>
        <div id="headerContent">
            <table>
                <tr>
                    <td>{% trans "Report" %} - {{ report.get_title }}</td>
                    <td width="100px" align="right">
                        {% trans "Page" %} <pdf:pagenumber>
                    </td>
                </tr>
            </table>
        </div>
        <table id="report_info">
            <tr>
                <td width="200px">
                    {% now "m/d/Y f a" %}
                </td>
                <td class="title">
                    {{ report.get_title }}
                </td>
            </tr>
        </table>

        {% include "model_report/includes/report_table.html" %}

        <div id="footerContent">
            <table>
                <tr>
                    <td>{% trans "Report" %} - {{ report.get_title }}</td>
                    <td width="100px" align="right">
                        {% trans "Page" %} <pdf:pagenumber>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
